#sidebar {
    width: 215px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ff0000;
    overflow-x: hidden;
    transition: 0.3s;
}

#drag-handle {
    position: absolute;
    top: 0;
    left: 200px; /* to position the handle outside of the sidebar */
    width: 15px;
    height: 100%;
    background-color: #0f0;
    cursor: col-resize;
  }
  